DATABASE_URL="postgresql://postgres:CHANGE-ME@db.your-project-ref.supabase.co:5432/postgres?sslmode=require"
JWT_SECRET="change-me-in-prod-9f8a3b2c1d"
# JWT lifetime in days. 30 = 1 month, 90 = 3 months, 180 = 6 months, 365 = 1 year. Range 1..3650.
JWT_EXPIRY_DAYS=30
PORT=4000
NODE_ENV=development
